.termsfeed-com---reset {
  left: 0 !important;
}
.cc-nb-reject {
  display: none !important;
}
.cc-nb-okagree,
.cc-cp-foot-save {
  background-color: #005da9 !important;
  border-radius: 100px !important;
}
.cc-nb-changep {
  border-radius: 100px !important;
}
@media screen and (max-width: 600px) {
  .termsfeed-com---nb-simple {
    max-width: 100% !important;
  }
  .termsfeed-com---nb .cc-nb-main-container {
    padding: 20px !important;
  }
}

.parsley-range {
  display: none !important;
}
